<h1 mat-dialog-title>Files</h1>
<div mat-dialog-content style="overflow-y: hidden;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef style="width: 50px;"> # </th>
            <td mat-cell *matCellDef="let element" style="width: 50px;"> {{element.id}} </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> File name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- mimeType Column -->
        <ng-container matColumnDef="mimeType">
            <th mat-header-cell *matHeaderCellDef style="width: 100px;"> mime-type </th>
            <td mat-cell *matCellDef="let element" style="width: 100px;"> {{element.mimeType}} </td>
        </ng-container>
        
        <ng-container matColumnDef="buttons" >
            <th mat-header-cell *matHeaderCellDef style="width: 220px;">
            </th>
            <td mat-cell *matCellDef="let element" style="width: 220px;">
                <div class="button-row">
                    <button (click)="downloadFile(element)" mat-raised-button title="Download">
                        <mat-icon>call_received</mat-icon>
                    </button>

                    <button (click)="openEditDialog(element)" mat-raised-button color="primary" title="Edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button (click)="openDeleteDialog(element)" mat-raised-button color="warn" title="Delete">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<br>
<div class="form-group" style="text-align: center">

    <div class="upload-btn-wrapper" style="position: relative; overflow: hidden; display: inline-block; width: 100%;">
        <button class="btn" style="border: 2px solid gray; color: gray; background-color: white; padding: 8px 20px; border-radius: 8px; font-size: 20px; font-weight: bold; width: 100%;">Upload a file</button>
        <input style="font-size: 100px; position: absolute; left: 0; top: 0; opacity: 0;" id="input-file-id" multiple type="file" id="file" (change)="uploadFile($event.target.files)" [disabled]="!data.id"/>
    </div>
</div>

<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-raised-button color="primary" (click)="onCloseClick()" style="margin-right: 8px;" title="Close">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>