
<mat-progress-bar style="position: fixed;margin-top: -10px;" *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div style="width: 100%; text-align: right; margin-left: 10px; margin-top: 10px;" *ngIf="selectedView">

    <button (click)="openCreateDialog()" mat-fab color="primary" aria-label="Add ToDo" title="Add ToDo">
            <mat-icon>add</mat-icon>
    </button>
    <button (click)="refresh()" mat-fab color="primary" aria-label="Reload Board" title="Reload: {{ selectedView.viewName }}">
        <mat-icon>refresh</mat-icon>
    </button>
    <button [matMenuTriggerFor]="menu" mat-fab color="primary" aria-label="Filters" title="Filters for: {{ selectedView.viewName }}">
        <mat-icon>filter_list</mat-icon>
    </button>
    <button [matMenuTriggerFor]="viewsMenu" title="Boards" mat-fab color="primary" aria-label="Boards">
        <mat-icon>desktop_windows</mat-icon>
    </button>
</div>
    
<div style="width: 100%; text-align: center;" *ngIf="showFilters">

    <mat-form-field style="width: 25%">
        <mat-label>Users</mat-label>
        <mat-select [(ngModel)]="selectedUsers" multiple [compareWith]="userComparer">
            <mat-option *ngFor="let user of allUsers" [value]="user">
            <img *ngIf="user.imageMimeType" style="width: auto; height: 20px; border-radius: 50%;" src="{{getUserImageURL(user)}}" class="md-user-avatar"/>
            {{user.displayName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 25%; margin-left: 20px;">
        <mat-label>Tags</mat-label>
        <mat-select [(ngModel)]="selectedTags" multiple [compareWith]="tagComparer">
            <mat-option *ngFor="let tag of allTags" [value]="tag">
            {{tag.tagName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 25%; margin-left: 20px;">
        <mat-label>States</mat-label>
        <mat-select [(ngModel)]="selectedStates" multiple [compareWith]="stateComparer">
            <mat-option *ngFor="let state of allStates" [value]="state">
            {{state.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div *ngIf="!selectedView" style="text-align: center;">

    <h1 *ngIf="toDoViews.length == 0">create a Board</h1>
    <button *ngIf="toDoViews.length == 0" mat-fab color="primary" routerLink="/to-do-view-list" aria-label="create a Board">
        <mat-icon>desktop_windows</mat-icon>
    </button>

    <h1 *ngIf="toDoViews.length > 0">select a Board</h1>
    <button *ngIf="toDoViews.length > 0" [matMenuTriggerFor]="viewsMenu" mat-fab color="primary" aria-label="Boards">
        <mat-icon>desktop_windows</mat-icon>
    </button>
</div>


<div class="scroller-wrapper" style="text-align: center;">

    <div class="scroller" cdkDropListGroup>
        
        <span style="text-align: left;" *ngFor="let entry of groupedToDos | keyvalue">
        <div class="example-container" *ngIf="isStateVisible(entry.key)">
            <h2>{{ entry.key.name }}</h2>

            <div
            cdkDropList
            [cdkDropListData]="entry.value"
            class="example-list"
            cdkDropListSortingDisabled
            (cdkDropListDropped)="drop($event, entry.key)">
            <div class="example-box" *ngFor="let toDo of filterToDos(entry.value)" cdkDrag>
                    <mat-card class="example-card" style="width: 100%;">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image">
                                <button 
                                    [matMenuTriggerFor]="toDoActions"
                                    (click)="setSelectedToDo(toDo)"
                                    #triggerOne="matMenuTrigger"
                                    title="Actions" aria-label="Example icon-button with a menu" mat-icon-button style="top: -10px; left: -10px">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                            </div>
                            <mat-card-title (click)="showHideToDoDetails(toDo)" (dblclick)="openEditDialog(toDo)" style="font-size: 20px; margin-left: -25px;" title="{{toDo.title}}">{{toDo.title}}</mat-card-title>
                            <mat-card-subtitle *ngIf="toDo.dueDate" (dblclick)="openEditDialog(toDo)" style="margin-left: -25px;"><b>Duedate:</b> {{ toDo.dueDate | date :  "dd.MM.yyyy" }}</mat-card-subtitle>
                            
                            <mat-card-subtitle *ngIf="toDo.countToDoRequirementsAll > 0" style="margin-left: -25px;margin-top: -15px;" (dblclick)="openRelatedRequirementsDialog(toDo)">
                                    <b>Requirements Done:</b> {{ toDo.countToDoRequirementsDone }} / {{ toDo.countToDoRequirementsAll }}
                            </mat-card-subtitle>
                            <!--<mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
                            <!--  [matMenuTriggerFor]="masterDataMenu" -->
                        </mat-card-header>
                        <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
                        <mat-card-content *ngIf="showDetails || toDo.showDetails">                               
                            <pre style="white-space: pre-wrap; word-wrap: break-word;max-height: 200px;overflow-y: scroll;">{{toDo.description}}</pre>
                            
                            <div *ngIf="toDo.users.length > 0">
                                Users:
                                <mat-chip-list aria-label="Users">
                                    <mat-chip *ngFor="let user of toDo.users">
                                        <img *ngIf="user.imageMimeType" style="width: auto; height: 20px; border-radius: 50%;" src="{{getUserImageURL(user)}}" class="md-user-avatar"/>
                                        {{user.displayName}}
                                    </mat-chip>
                                </mat-chip-list>
                            </div>
                            <div *ngIf="toDo.tags.length > 0">
                                Tags:
                                <mat-chip-list aria-label="Tags">
                                    <mat-chip *ngFor="let tag of toDo.tags">{{tag.tagName}}</mat-chip>
                                </mat-chip-list>
                            </div>
                        </mat-card-content>
                        <!--
                        <mat-card-actions style="text-align: center;">
                            <button (click)="openEditDialog(toDo)" style="margin-right: 25%;" mat-button color="primary" title="Edit">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button (click)="openDeleteDialog(toDo)" mat-button color="warn" title="Delete">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-card-actions>
                        -->
                    </mat-card>
                </div>
            </div>
        </div>
    </span>
    </div>
</div>
<!--
    MENUS
-->


<mat-menu #viewsMenu="matMenu">
    <button mat-menu-item (click)="onViewSelect(view)" *ngFor="let view of toDoViews">
        <mat-icon>table_chart</mat-icon>
        <span>{{view.viewName}}</span>
    </button>
</mat-menu>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="showHideDetails()">
        <mat-icon>remove_red_eye</mat-icon>
        <span *ngIf="showDetails">Hide detals</span>
        <span *ngIf="!showDetails">Show details</span>
    </button>
    <button mat-menu-item (click)="showHideFilters()">
        <mat-icon>search</mat-icon>
        <span *ngIf="showFilters">Hide filters</span>
        <span *ngIf="!showFilters">Show filters</span>
    </button>
    <hr>
    <button mat-menu-item (click)="resetTagFilter()">
        <mat-icon>styles</mat-icon>
        <span>Filter for all Tags</span>
    </button>
    <button mat-menu-item (click)="clearUserFilter()">
        <mat-icon>group</mat-icon>
        <span>Filter for all Users</span>
    </button>
    <button mat-menu-item (click)="resetUserFilter()">
        <mat-icon>
            <img *ngIf="getCurrentUser().imageMimeType" style="width: auto; height: 25px; border-radius: 50%;" src="{{getUserImageURL(getCurrentUser())}}" class="md-user-avatar"/>
            <mat-icon *ngIf="!getCurrentUser() || !getCurrentUser().imageMimeType">person</mat-icon>
        </mat-icon>    
        <span>Filter only for my User</span>
    </button>
</mat-menu>

<mat-menu #toDoActions="matMenu">
        <button mat-menu-item (click)="openRelatedCommentsDialog(selectedToDo)">
            <mat-icon>comments</mat-icon>
            <span>Comments</span>
        </button>
        <button mat-menu-item (click)="openRelatedRequirementsDialog(selectedToDo)">
            <mat-icon>gps_fixed</mat-icon>
            <span>Requirements</span>
        </button>
        <button mat-menu-item (click)="openRelatedFilesDialog(selectedToDo)">
            <mat-icon>folder_open</mat-icon>
            <span>Files</span>
        </button>
        <button *ngIf="selectedView" mat-menu-item (click)="setExitState(selectedToDo)" title="Change state to: {{selectedView.exitState.name}}">
            <mat-icon>done_outline</mat-icon>
            <span>Completed</span>
        </button>
        <button mat-menu-item (click)="openEditDialog(selectedToDo)">
            <mat-icon>edit</mat-icon>
            <span>Edit Todo</span>
        </button>
        <button mat-menu-item (click)="openDeleteDialog(selectedToDo)">
            <mat-icon>delete</mat-icon>
            <span>Delete Todo</span>
        </button>
</mat-menu>