<h1 mat-dialog-title>Edit</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput [matDatepicker]="dueDate" placeholder="Duedate" [(ngModel)]="data.dueDate">
    <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
    <mat-datepicker #dueDate></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
      <input cdkFocusInitial matInput placeholder="Title" required type="text" [(ngModel)]="data.title">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Description" required rows="10" [(ngModel)]="data.description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>State</mat-label>
    <mat-select [(ngModel)]="data.state" name="state" required>
      <mat-option [value]="data.state" *ngIf="data.state" style="display: none">{{data.state.name}}</mat-option>
      <mat-option *ngFor="let state of allStates" [value]="state">
        {{state.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Users</mat-label>
    <mat-select [(ngModel)]="data.users" [compareWith]="userComparer" multiple>
      <mat-option *ngFor="let user of allUsers" [value]="user">
        {{user.displayName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of tags;let indx=index;" [selectable]="selectable" [removable]="removable" (removed)="removeTag(tag,indx)">
            {{tag.tagName}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="New tag..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
         [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addTag($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag.tagName}}
        </mat-option>
    </mat-autocomplete>
    
  </mat-form-field>

  
</div>

<div mat-dialog-actions style="justify-content: flex-end;">
  <div style="width: 50%;"> 
    <button [disabled]="!data.id" mat-raised-button (click)="openFilesDialog()" style="margin-right: 8px;" title="related files">
        <mat-icon>note</mat-icon>
    </button>
    <button [disabled]="!data.id" mat-raised-button (click)="openCommentsDialog()" style="margin-right: 8px;" title="related comments">
        <mat-icon>comment</mat-icon>
    </button>
    <button [disabled]="!data.id" mat-raised-button (click)="openRequirementsDialog()" style="margin-right: 8px;" title="related requirements">
        <mat-icon>gps_fixed</mat-icon>
    </button>
  </div>
  <div style="text-align: right; width: 50%;">
    <button mat-raised-button color="warn" (click)="onNoClick()" style="margin-right: 8px;" title="cancel">
        <mat-icon>cancel</mat-icon>
    </button>

    <button mat-raised-button color="primary" (click)="onYesClick()" [disabled]="!data.title || !data.description || !data.state" title="Ok">
      <mat-icon>check</mat-icon>
    </button>
    </div>
</div>