<h1 mat-dialog-title>Edit</h1>
<div mat-dialog-content style="overflow-y: hidden;">
  <mat-form-field>
      <input cdkFocusInitial matInput placeholder="State name" required type="text" [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
      <input cdkFocusInitial matInput placeholder="Order" required type="number" [(ngModel)]="data.sorter">
  </mat-form-field>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-raised-button color="warn" (click)="onNoClick()" style="margin-right: 8px;" title="cancel">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="onYesClick()" [disabled]="!data.name || !data.sorter" title="Ok">
      <mat-icon>check</mat-icon>
    </button>
</div>