<!--The content below is only a placeholder and can be replaced.-->
<div style="height: 100vh;">

  <mat-toolbar color="primary">

    <span>{{ title }}</span>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">

      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <span *ngIf="isUserLoggedIn()">
        <a routerLink="/to-do-board" title="Boards" title="Boards" mat-button>Boards
          <mat-icon>view_quilt</mat-icon>
        </a>
        
        <button [matMenuTriggerFor]="userDataMenu" aria-label="Example icon-button with a menu" mat-icon-button title="User settings: {{ getCurrentUser().displayName }}">
            
              <img *ngIf="getCurrentUser() && getCurrentUser().imageMimeType" style="width: auto; height: 40px; border-radius: 50%;" src="{{ getUserImageURL(getCurrentUser()) }}" class="md-user-avatar"/>
              <mat-icon *ngIf="!getCurrentUser() || !getCurrentUser().imageMimeType">person</mat-icon>  
        </button>

        <button [matMenuTriggerFor]="masterDataMenu" title="Configurations/Settings" aria-label="Example icon-button with a menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </span>


      <mat-menu #userDataMenu="matMenu">
          <button mat-menu-item (click)="openEditUserDialog()">
            <mat-icon>edit</mat-icon>
            <span>Edit User</span>
          </button>
          <button mat-menu-item (click)="openPasswordDialog()">
            <mat-icon>vpn_key</mat-icon>
            <span>Edit password</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>no_meeting_room</mat-icon>
            <span>Logout</span>
          </button>
      </mat-menu>
      
      <mat-menu #masterDataMenu="matMenu">
          <a mat-menu-item routerLink="/to-do-view-list">
            <mat-icon>view_quilt</mat-icon>
            <span>All Views</span>
          </a>
          <a mat-menu-item routerLink="/state-list">
            <mat-icon>cached</mat-icon>
            <span>All States</span>
          </a>
          <a mat-menu-item routerLink="/tag-list">
            <mat-icon>styles</mat-icon>
            <span>All Tags</span>
          </a>
          <a mat-menu-item routerLink="/to-do-list">
            <mat-icon>work</mat-icon>
            <span>All Todos</span>
          </a>
          <a mat-menu-item routerLink="/file-list">
            <mat-icon>folder_open</mat-icon>
            <span>All Files</span>
          </a>
          <a mat-menu-item routerLink="/user-list">
            <mat-icon>people</mat-icon>
            <span>All Users</span>
          </a>
      </mat-menu>
    </div>
  </mat-toolbar>
  <div style="margin: 0em 2em 0em 2em;">
      
      <app-login *ngIf="!isUserLoggedIn()"></app-login>

      <router-outlet *ngIf="isUserLoggedIn()"></router-outlet>
  </div>
</div>
