<h1 mat-dialog-title>Comments</h1>
<br>

<mat-form-field>
    <textarea matInput placeholder="Comment" required rows="3" [(ngModel)]="commentText"></textarea>
</mat-form-field>
<div style="width: 100%; text-align: center;">
    <button mat-raised-button color="primary" (click)="addComment()" [disabled]="!commentText" title="save">
        <mat-icon>check</mat-icon>
    </button>
</div>

<div mat-dialog-content style="height: 400px; overflow: auto;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef style="width: 125px;"> Time </th>
            <td mat-cell *matCellDef="let element" style="width: 125px; vertical-align: top; padding-top: 15px;">{{element.time | date : "dd.MM.yyyy HH:mm" }}</td>
        </ng-container>
        
        <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef> Text </th>
            <td mat-cell *matCellDef="let element"><pre style="white-space: pre-wrap; word-wrap: break-word;">{{element.text}}</pre></td>
        </ng-container>

        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef style="width: 50px;"> # </th>
            <td mat-cell *matCellDef="let element" style="width: 50px;">
                <img *ngIf="element.user.imageMimeType" style="width: auto; height: 40px;" src="{{getUserImageURL(element.user)}}" class="md-user-avatar"/>
                {{element.user.displayName }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-raised-button color="primary" (click)="onCloseClick()" style="margin-right: 8px;" title="Close">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>