<h1 mat-dialog-title>Edit</h1>
<div mat-dialog-content style="overflow-y: hidden;">
  <mat-form-field>
      <input cdkFocusInitial matInput placeholder="View name" required type="text" [(ngModel)]="data.viewName">
  </mat-form-field>

  <mat-form-field>
      <mat-label>States</mat-label>
      <mat-select [(ngModel)]="data.states" required multiple [compareWith]="stateComparer" >
          <mat-option *ngFor="let state of allStates" [value]="state">
          {{state.name}}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Exit state</mat-label>
    <mat-select [(ngModel)]="data.exitState" name="exitState" required>
      <mat-option [value]="data.exitState" *ngIf="data.exitState" style="display: none">{{data.exitState.name}}</mat-option>
      <mat-option *ngFor="let state of allStates" [value]="state">
        {{state.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tags</mat-label>
    <mat-select [(ngModel)]="data.tags" multiple [compareWith]="tagComparer" >
        <mat-option *ngFor="let tag of allTags" [value]="tag">
        {{tag.tagName}}
        </mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-raised-button color="warn" (click)="onNoClick()" style="margin-right: 8px;" title="cancel">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="onYesClick()" [disabled]="!data.viewName || data.states.length == 0 || !data.exitState" title="Ok">
      <mat-icon>check</mat-icon>
    </button>
</div>