
<div style="text-align: center">
    <h1>Login</h1>
    <mat-form-field style="width: 50%">
        <input cdkFocusInitial matInput placeholder="Username" required type="text" [(ngModel)]="username">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 50%">
        <input cdkFocusInitial matInput placeholder="Password" required type="password" [(ngModel)]="password">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="login()" style="margin-right: 8px;" title="Login" [disabled]="!username || !password">
        <mat-icon>meeting_room</mat-icon>
    </button>
    
</div>