<br>
<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width: 50px;"> # </th>
        <td mat-cell *matCellDef="let element" style="width: 50px;"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef style="width: 60px;"> Image </th>
        <td mat-cell *matCellDef="let element"style="width: 60px;">
            <img *ngIf="element.imageMimeType" style="width: auto; height: 40px;" src="{{getUserImageURL(element)}}" class="md-user-avatar"/>
        </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    
    <!-- Name Column -->
    <ng-container matColumnDef="displayname">
        <th mat-header-cell *matHeaderCellDef> Displayname </th>
        <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
    </ng-container>

    
    <ng-container matColumnDef="buttons" >
        <th mat-header-cell *matHeaderCellDef style="width: 220px;">
            <button style="justify-content: flex-end;" (click)="openCreateDialog()" mat-raised-button color="primary" title="Create">
                <mat-icon>add</mat-icon>
            </button>
        </th>
        <td mat-cell *matCellDef="let element" style="width: 220px;">
            <div class="button-row">
                <button (click)="openEditDialog(element)" mat-raised-button color="primary" title="Edit">
                    <mat-icon>edit</mat-icon>
                </button>
                
                <button (click)="openPasswordDialog(element)" mat-raised-button title="Edit password">
                    <mat-icon>vpn_key</mat-icon>
                </button>

                <button (click)="openDeleteDialog(element)" mat-raised-button color="warn" title="Delete">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>