<h1 mat-dialog-title style="text-align: center">        
<img *ngIf="data.imageMimeType" style="width: auto; height: 80px;" src="{{getUserImageURL(data)}}" class="md-user-avatar"/>
<mat-icon *ngIf="!data.imageMimeType">person</mat-icon>
</h1>
<div mat-dialog-content style="overflow-y: hidden;">
  <mat-form-field>
      <input cdkFocusInitial matInput placeholder="Username" required type="text" [(ngModel)]="data.username">
  </mat-form-field>

  <mat-form-field>
      <input cdkFocusInitial matInput placeholder="Displayname" required type="text" [(ngModel)]="data.displayName">
  </mat-form-field>
  
  <mat-form-field *ngIf="!data.id">
      <input cdkFocusInitial matInput placeholder="Password" required type="password" [(ngModel)]="data.password">
  </mat-form-field>
  
    <div *ngIf="data.id" class="form-group" style="text-align: center">

        <div class="upload-btn-wrapper" style="position: relative; overflow: hidden; display: inline-block; width: 100%;">
            <button class="btn" style="border: 2px solid gray; color: gray; background-color: white; padding: 8px 20px; border-radius: 8px; font-size: 20px; font-weight: bold; width: 100%;">Upload a file</button>
            <input style="font-size: 100px; position: absolute; left: 0; top: 0; opacity: 0;" id="input-file-id" multiple type="file" id="file" (change)="uploadFile($event.target.files)" [disabled]="!data.id"/>
        </div>
    </div>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-raised-button color="warn" (click)="onNoClick()" style="margin-right: 8px;" title="cancel">
        <mat-icon>cancel</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="onYesClick()" [disabled]="!data.username || !data.displayName || (!data.password && !data.id)" title="Ok">
      <mat-icon>check</mat-icon>
    </button>
</div>