<h1 mat-dialog-title style="text-align: center">        
  <img *ngIf="data.imageMimeType" style="width: auto; height: 80px;" src="{{getUserImageURL(data)}}" class="md-user-avatar"/>
  <mat-icon *ngIf="!data.imageMimeType">person</mat-icon>
</h1>
  <div mat-dialog-content style="overflow-y: hidden;">
    <mat-form-field>
        <input cdkFocusInitial matInput placeholder="Password" required type="password" [(ngModel)]="password">
    </mat-form-field>

    <mat-form-field>
      <input cdkFocusInitial matInput placeholder="Password repeat" required type="password" [(ngModel)]="passwordRepeat">
    </mat-form-field>
  </div>
  <div mat-dialog-actions style="justify-content: flex-end;">
      <button mat-raised-button color="warn" (click)="onNoClick()" style="margin-right: 8px;" title="cancel">
          <mat-icon>cancel</mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="onYesClick()" [disabled]="password != passwordRepeat" title="Ok">
        <mat-icon>check</mat-icon>
      </button>
  </div>