<h1 mat-dialog-title>Requirements</h1>
<br>

<mat-form-field>
    <textarea matInput placeholder="Requirement" cols="3" required [(ngModel)]="selectedRequirement.text"></textarea>
</mat-form-field>
<div style="width: 100%; text-align: center;">
    
    <button mat-raised-button color="warn" style="margin-right: 20px;" (click)="clearSelectedAndReload()" title="save">
        <mat-icon>clear</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="saveSelected()" [disabled]="!selectedRequirement.text" title="save">
        <mat-icon>check</mat-icon>
    </button>
</div>

<div mat-dialog-content style="height: 400px; overflow: auto;">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                
        <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef> Text </th>
            <td mat-cell *matCellDef="let element" (click)="setSelected(element)"><pre style="white-space: pre-wrap; word-wrap: break-word;">{{element.text}}</pre></td>
        </ng-container>

        <ng-container matColumnDef="done">
            <th mat-header-cell *matHeaderCellDef style="width: 50px;"> # </th>
            <td mat-cell *matCellDef="let element" style="width: 50px;">
                <mat-checkbox color="primary"
                (click)="checkRequirement(element)"
                [(ngModel)]="element.done"> </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="buttons">
            <th mat-header-cell *matHeaderCellDef style="width: 60px;"> Time </th>
            <td mat-cell *matCellDef="let element" style="width: 60px;">
                <button (click)="deleteRequirement(element)" mat-raised-button color="warn" title="Delete">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-raised-button color="primary" (click)="onCloseClick()" style="margin-right: 8px;" title="Close">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>