<h1 mat-dialog-title>Delete</h1>
<div mat-dialog-content>
  <p>Do you really want to delete this Record ?</p>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-raised-button color="warn" mat-button (click)="onNoClick()" style="margin-right: 8px;" title="no">
      <mat-icon>cancel</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="onYesClick()" cdkFocusInitial title="Ok">
      <mat-icon>check</mat-icon>
    </button>
</div>